<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some tasty foods!</h1>
    <div>
        <p>Apple Pie</p>
        <p>Burritos</p>
        <p>Clams Casino</p>
        <p>Donut</p>
    </div>

</body>
</html>