<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p><a href="projects">Projects |</a>
        <a href="contact"> Contact |</a>
        <a href="/">Home</a></p>
    </div>
    <p>About me</p>
    <div>
        <img src="~/img/images.png" alt="A picture of me">
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum quaerat molestiae dignissimos magni esse quasi! Doloribus mollitia eligendi culpa rem nisi quam cum libero explicabo aliquam. Quod sint, nam ex eum totam maiores in vitae voluptate molestias earum numquam expedita quos ratione, dicta soluta, voluptatem nulla alias fugiat? Libero quas magnam repudiandae laudantium. Cumque, doloremque.
        </p>
    </div>


</body>
</html>