<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p><a href="projects">Projects |</a>
        <a href="contact"> Contact |</a>
        <a href="/">Home</a></p>
    </div>
    <p>Projects Page</p>
    <div>
        <div>
            <p>This project is about a plane </p>
            <img src="~/img/plane.jpg" alt=" A plane">
            
        </div>
        <div>
            <p>This project is about a truck </p>
            <img src="~/img/truck.jpg" alt=" A truck">
            
        </div>
        <div>
            <p>This picture is about a train </p>
            <img src="~/img/train.jpg" alt=" A Train">
            
        </div>
    </div>
</body>
</html>

